---
import "../styles/global.css";
import Programkort from "../components/Programkort.astro";
import Sektion from "../components/Sektion.astro";
import Button from "../components/Buttons.astro";
import Header from "../components/Navi.astro";
import Footer from "../components/Footer.astro";
//import { Debug } from "astro.components";

const url = "https://bymlifxuzmwdmqicmkcx.supabase.co/rest/v1/program";

const options = {
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ5bWxpZnh1em13ZG1xaWNta2N4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE2Nzg3ODUwNDksImV4cCI6MTk5NDM2MTA0OX0.97APrkFnBi4ZzdZK_sEbgGV8reaMh6gPVQJ5t8HTn3w",
  },
};

const response = await fetch(url, options);
const data = await response.json();

const mainstageSaturday = data.filter((event) => event.stage == "Main Stage" && event.day == "Saturday");
const mainstageSunday = data.filter((event) => event.stage == "Main Stage" && event.day == "Sunday");

const secondstageSaturday = data.filter((event) => event.stage == "Second Stage" && event.day == "Saturday");
const secondstageSunday = data.filter((event) => event.stage == "Second Stage" && event.day == "Sunday");

const onthelawnSaturday = data.filter((event) => event.stage == "On The Lawn" && event.day == "Saturday");
const onthelawnSunday = data.filter((event) => event.stage == "On The Lawn" && event.day == "Sunday");
---

<html lang="en">
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet" />
  <script src="https://kit.fontawesome.com/0d7a458351.js" crossorigin="anonymous"></script>
  <title>Program</title>

  <body>
    <Header />

    <main>
      <h1>Saturday</h1>

      <div>
        <div class="pol">
          <div>
            <Sektion indhold={mainstageSaturday} stage="Main Stage" />
          </div>
          <div>
            <Sektion indhold={secondstageSaturday} stage="Second Stage" />
            <Sektion indhold={onthelawnSaturday} stage="On The Lawn" />
          </div>
        </div>

        <h1>Sunday</h1>
        <div class="pol">
          <div>
            <Sektion indhold={mainstageSunday} stage="Main Stage" />
          </div>
          <div>
            <Sektion indhold={secondstageSunday} stage="Second Stage" />
            <Sektion indhold={onthelawnSunday} stage="On The Lawn" />
          </div>
        </div>
      </div>
    </main>
    <Footer />
  </body>
</html>

<style>
  main {
    margin: 50px;
  }

  .pol {
    gap: 2rem;
  }

  h1 {
    color: var(--secondary-100);
    margin-bottom: 1rem;
  }

  @media (min-width: 1000px) {
    main {
      margin: 100px;
    }
    .pol {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 3rem;
    }
  }
</style>
