---
import Programkort from "./Programkort.astro";

const { day, indhold, stage } = Astro.props;
---

<h1>{day}</h1>
<h2>{stage}</h2>
<section class="sektion">
  {indhold.map((program) => <Programkort link={"/../undersider/" + program.id} event={program.event} association={program.association} when={program.when} />)}
</section>

<style>
  .sektion {
    background-color: var(--primary-40);
    border-radius: 0rem 2rem 0rem 2rem;
  }
</style>
