---
import Programkort from "./Programkort.astro";

const { day, indhold, stage } = Astro.props;
---

<h1>{day}</h1>

<div class="sektion_grid">
  <h2>{stage}</h2>
  <section>
    {indhold.map((program) => <Programkort link={"/../undersider/" + program.id} image={`/public/img/${program.image}`} event={program.event} association={program.association} when={program.when} />)}
  </section>
</div>

<style>
  .sektion_grid {
    background-color: var(--primary-40);
    border-radius: 0rem 2rem 0rem 2rem;
  }
</style>
